body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

strong {
  text-decoration: underline;
}
