.banner {
  position: relative;
  max-width: 100%;
  background: $bg-transparent, url('/images/wave-bg.jpg');
  background-position: center;
  background-size: cover;
  margin: 0;
  border-bottom: $s-border-gray;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  text-transform: uppercase;


  &-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__icon {
      max-width: 3rem;
    }

    &__home-text {
      margin: 0 1rem;
      color: $c-text-secondary;
    }
  }

  &-links {

  }

  .link {
    margin: .5rem;
  }

  .search-box {

  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem;


  &__text-large {
    margin: 0;
    color: $c-text-primary;
    font-size: 5.5rem;
    text-shadow: 1px 1px rgba(#000, 0.5);
    text-transform: uppercase;
  }

  &__text-small {
    color: $c-text-secondary;
    margin: 0;
  }
}
